# build artifacts
.data
.docz
.serverless
*.tgz
dist

# dependencies & NPM stuff
node_modules
npm-debug.log

# junk files
.DS_Store
apps
old_code
/lerna-debug.log

#seagull
examples/helloworld/.seagull/*


# other stuff
.env